#step-5 {
  width: 600px;
  padding: 40px 90px;
  display: none;
  justify-content: center;
  align-items: center;
}

#step-5 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
